body,
html {
    font-family: Gilroy-Light;
    font-weight: 600;
    color: var(--black);
    background-color: var(--white);
    padding: 0px;
}

.no-scroll-y {
    overflow-y: hidden !important;
}

.no-scroll-x {
    overflow-x: hidden !important;
}

@font-face {
    font-family: Gilroy-Light;
    src: url("../fonts/Gilroy-Light.ttf");
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url("../fonts/Gilroy-SemiBold.ttf");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("../fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("../fonts/Gilroy-ExtraBold.ttf");
}

.ff-gilroy-light {
    font-family: Gilroy-Light;
}

.ff-gilroy-semiBold {
    font-family: Gilroy-SemiBold;
}

.ff-gilroy-bold {
    font-family: Gilroy-Bold;
}

.ff-gilroy-extrabold {
    font-family: Gilroy-ExtraBold;
}

:root {
    /* FONT SIZES */
    --font-xs: 16px;
    --font-sm: 20px;
    --font-md: 24px;
    --font-lg: 40px;
    /* COLORS */
    --white: #FFFFFF;
    --black: #020817;
    --light-blue: #E8EDFB;
    --blue: #1D4ED8;
    --gray: #80838B;
}

@media (max-width:991.98px) {
    :root {
        --font-lg: 32px;
    }
}

@media (max-width:767.98px) {
    :root {
        --font-lg: 27px;
        --font-xs: 14px;
    }
}

@media (max-width:575.98px) {
    :root {
        --font-lg: 24px;
    }
}

/* ============================= COLORS ============================= */
.white {
    color: var(--white) !important;
}

.black {
    color: var(--black) !important;
}

.light-blue {
    color: var(--light-blue) !important;
}

.blue {
    color: var(--blue) !important;
}

.gray {
    color: var(--gray) !important;
}

/* ============================= FONT SIZES ============================= */
.font-xs {
    font-size: var(--font-xs) !important;
}

.font-sm {
    font-size: var(--font-sm) !important;
}

.font-md {
    font-size: var(--font-md) !important;
}

.font-lg {
    font-size: var(--font-lg) !important;
}

/* ============================= FONT WEIGHT ============================= */
.fw_normal {
    font-weight: 400 !important;
}

.fw_medium {
    font-weight: 500 !important;
}

.fw_semibold {
    font-weight: 600 !important;
}

.fw_bold {
    font-weight: 700 !important;
}

.fw_extrabold {
    font-weight: 800 !important;
}

/* ================================= COMMON CLASSES========================= */
.heading {
    font-size: var(--font-lg);
    font-weight: 700;
    line-height: 48.36px;
    font-family: Gilroy-Bold;
}

.sub-heading {
    font-size: var(--font-md);
    font-weight: 600;
    font-family: Gilroy-SemiBold;
}

.para {
    font-size: var(--font-xs);
    font-weight: 400;
    line-height: 22.88px;
    font-family: Gilroy-Light;
}

.cursor-pointer {
    cursor: pointer;
}

.common-btn {
    font-family: Gilroy-SemiBold;
    font-size: var(--font-xs);
    font-weight: 600;
    color: var(--white);
    background-color: transparent;
    padding: 8px 40.5px 10px 40.5px;
    border: 2px solid var(--light-blue);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.common-btn:focus,
.common-btn:hover {
    color: var(--blue) !important;
    box-shadow: inset 0 0 0 2em var(--white);
    box-shadow: inset 0 0 0 2em var(--white);
    border: 2px solid var(--blue);
}

.blue-btn {
    font-family: Gilroy-SemiBold;
    font-size: var(--font-xs);
    font-weight: 600;
    color: var(--blue);
    background-color: transparent;
    padding: 8px 40.5px 10px 40.5px;
    border: 2px solid var(--blue);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.blue-btn:focus,
.blue-btn:hover {
    color: var(--white) !important;
    box-shadow: inset 0 0 0 2em var(--blue);
    box-shadow: inset 0 0 0 2em var(--blue);
    border: 2px solid var(--blue);
}

/* ========================= NAVBAR ===================== */
.focus-0 .form-select {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.nav-link {
    font-family: Gilroy-Light;
    font-size: var(--font-xs) !important;
    font-weight: 400 !important;
    color: var(--white) !important;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: relative;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 4px;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-link:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.nav-link:hover {
    color: var(--white) !important;
}

.active {
    font-family: Gilroy-SemiBold;
    color: var(--white) !important;
    font-weight: 600 !important;
}

/* .middle {
    position: relative;
}

.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 4px;
    left: 0;
    background-color: var(--orange);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
} */

.navbar-toggler {
    border: 2px solid;
}

.navbar-light .navbar-toggler {
    color: var(--white) !important;
    border-color: var(--white) !important;
}

.navbar-toggler:focus {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../img/svg/toogle-navbar.svg") !important;
}

.text-transparent {
    color: transparent !important;
}

.z-5 {
    z-index: 5;
}

/* ========================= HERO SECTION ===================== */
.hero-section {
    min-height: 100vh;
    background: linear-gradient(253.87deg, #103393 25.13%, var(--blue) 89.37%);
}

.hero-section:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    background-color: var(--white);
    bottom: -2px;
}

.hero-content {
    min-height: 65vh;
}

.hero_img01 {
    position: absolute;
    right: 0;
    top: 200px;
    max-width: 850px;
    padding-right: 48px;
}

.arrow01 {
    transform: translate(-85px, -30px);
}

.dots-img {
    margin-top: 90px;
    margin-left: -80px;
    z-index: 6;
    position: absolute;
}

/* ========================= GROW SECTION ===================== */
.arrow02 {
    transform: translate(15px, 0px);
}

.side-img01 {
    top: 90px;
    right: 0;
}

/* ========================= FiINZEO SECTION ===================== */
.finzeo-card {
    box-shadow: 0px 4px 24px 0px #00000012;
    border-radius: 10px;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.finzeo-card:hover {
    transform: translateY(-10px);
    background: linear-gradient(175.43deg, #012CA6 3.7%, rgba(29, 78, 216, 0.91) 47.37%, #0330AF 97.56%);
}

.finzeo-card h5,
.finzeo-card p {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.finzeo-card:hover h5,
.finzeo-card:hover p {
    color: var(--white) !important;
}

.fin-card-img {
    min-height: 148px;
}

.finzeo-card p {
    line-height: 18.56px;
}

/* ========================== SLIDER CSS ========================== */

.finzeo-slider .slick-dots li {
    width: 15px;
    height: 15px;
}

.finzeo-slider .slick-dots li.slick-active button:before {
    color: var(--blue);
    opacity: .9;
}

.finzeo-slider .slick-dots li button:before {
    font-size: 14px;
    color: var(--blue);
}

/* ========================== SLIDER CSS ========================== */
.side-img02 {
    top: 650px;
    left: 0;
}

/* ========================= FiINZEO SECTION ===================== */
/* ========================= MERCHANT ACCOUNT SECTION ============ */
.merchant-bg {
    background-image: url("../img/png/merchant-account-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 352px;
}

.arrow03 {
    position: absolute;
    left: 40px;
    top: -20px;
    min-width: 110px;
    transform: rotate(14deg);
}

.merchant-dots-img {
    position: absolute;
    right: 0;
    margin-top: -100px;
}

.merchant-dots-img-2 {
    position: absolute;
    left: 0;
    bottom: -80px;
}

.merchant-account-side-img {
    position: absolute;
    right: 0px;
    top: 0px;
}

/* ========================= OUR SERVICES SECTION ============ */
.service-card {
    border: 4px solid var(--blue);
    border-radius: 12px;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.service-card:hover {
    transform: translateY(-8px);
}

.service-card-img {
    min-height: 116px;
}

@media (min-width:1400px) {
    .container_modified {
        max-width: 1210px !important;
        padding-left: 35px;
    }
}

@media (max-width:1599.98px) {
    .hero-section {
        padding-bottom: 236px;
    }

    .hero_img01 {
        top: 70px;
        padding-right: 37px;
        max-width: 741px;
    }

    .hero-content {
        padding-top: 100px !important;
    }

    .dots-img {
        margin-top: -22px;
    }
}

@media (max-width:1499.98px) {
    .hero-section {
        padding-bottom: 190px;
    }

}

@media (max-width:1399.98px) {
    .dots-img {
        margin-top: -54px;
    }

    .hero-section {
        padding-bottom: 160px;
    }

    .arrow01 {
        transform: translate(-76px, -30px);
        max-width: 60px;
    }

    .hero-content {
        padding-top: 20px !important;
    }

    .dots-img {
        margin-top: -70px;
    }

    .arrow03 {
        left: 40px;
        min-width: 90px;
    }

    .merchant-dots-img {
        margin-top: -80px;
    }
}

@media (max-width:1199.98px) {
    .hero-section {
        padding-bottom: 96px;
        min-height: 50vh;
    }

    .hero_img01 {
        display: none;
    }

    .hero-content {
        min-height: unset;
        padding-top: unset !important;
    }

    .dots-img {
        display: none;
    }

    .side-img01 {
        max-width: 80px;
        top: 0px;
    }

    .arrow03 {
        left: -20px;
        top: -20px;
    }

    .merchant-dots-img {
        display: none;
    }

    .merchant-dots-img-2 {
        display: none;
    }

    .merchant-account-side-img {
        max-width: 100px;
        top: 50px;
    }
}

@media (max-width:991.98px) {
    .hero-section {
        padding-bottom: 96px;
    }

    .heading {
        line-height: initial;
    }

    .arrow02 {
        max-width: 90px;
    }

    .finzeo-card:hover {
        transform: translateY(0px);
    }

    .side-img02 {
        top: 480px;
        max-width: 80px;
    }

    .finzeo-card {
        min-height: 394px;
        max-height: 394px;
    }

    .merchant-bg {
        background-color: var(--blue);
        min-height: 100%;
    }

    .merchant-account-side-img {
        max-width: 80px;
        top: 10px;
    }

    .service-card {
        min-height: 450px;
        max-height: 450px;
    }
}

@media (max-width:767.98px) {
    .fin-card-img {
        min-height: 110px;
    }

    .fin-card-img img {
        max-width: 100px;
    }

    .finzeo-card {
        min-height: 314px;
        max-height: 314px;
    }
}

@media (max-width:575.98px) {
    .common-btn {
        padding: 10px 30.5px 10px 30.5px;
    }

    .para {
        line-height: inherit;
    }

    .hero-section {
        padding-bottom: 48px;
    }

    .arrow02 {
        max-width: 80px;
    }

    .side-img02 {
        display: none;
    }
}