body,
html {
    font-family: Gilroy-Light;
    font-weight: 600;
    color: var(--black);
    background-color: var(--white);
    padding: 0px;
    overflow-x: hidden;
}

.no-scroll-y {
    overflow-y: hidden !important;
}

.no-scroll-x {
    overflow-x: hidden !important;
}

@font-face {
    font-family: Gilroy-Light;
    src: url("../fonts/Gilroy-Light.ttf");
    font-display: swap;
}

@font-face {
    font-family: Gilroy-SemiBold;
    src: url("../fonts/Gilroy-SemiBold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("../fonts/Gilroy-Bold.ttf");
    font-display: swap;
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("../fonts/Gilroy-ExtraBold.ttf");
    font-display: swap;
}

.ff-gilroy-light {
    font-family: Gilroy-Light;
}

.ff-gilroy-semiBold {
    font-family: Gilroy-SemiBold;
}

.ff-gilroy-bold {
    font-family: Gilroy-Bold;
}

.ff-gilroy-extrabold {
    font-family: Gilroy-ExtraBold;
}

:root {
    /* FONT SIZES */
    --font-xs: 16px;
    --font-sm: 20px;
    --font-md: 24px;
    --font-lg: 40px;
    /* COLORS */
    --white: #FFFFFF;
    --black: #020817;
    --light-blue: #E8EDFB;
    --blue: #1D4ED8;
    --gray: #80838B;
}

@media (max-width:991.98px) {
    :root {
        --font-lg: 32px;
    }
}

@media (max-width:767.98px) {
    :root {
        --font-lg: 27px;
        --font-xs: 14px;
    }
}

@media (max-width:575.98px) {
    :root {
        --font-md: 17px;
        --font-lg: 24px;
    }
}

@media (min-width:1600px) {
    :root {
        --font-xs: 17px;
        --font-lg: 46px;
    }
}

/* ============================= COLORS ============================= */
.white {
    color: var(--white) !important;
}

.black {
    color: var(--black) !important;
}

.light-blue {
    color: var(--light-blue) !important;
}

.blue {
    color: var(--blue) !important;
}

.gray {
    color: var(--gray) !important;
}

.bg-black {
    background-color: var(--black) !important;
}

/* ============================= FONT SIZES ============================= */
.font-xs {
    font-size: var(--font-xs) !important;
}

.font-sm {
    font-size: var(--font-sm) !important;
}

.font-md {
    font-size: var(--font-md) !important;
}

.font-lg {
    font-size: var(--font-lg) !important;
}

/* ============================= FONT WEIGHT ============================= */
.fw_normal {
    font-weight: 400 !important;
}

.fw_medium {
    font-weight: 500 !important;
}

.fw_semibold {
    font-weight: 600 !important;
}

.fw_bold {
    font-weight: 700 !important;
}

.fw_extrabold {
    font-weight: 800 !important;
}

/* ================================= COMMON CLASSES========================= */
.heading {
    font-size: var(--font-lg);
    font-weight: 700;
    line-height: 48.36px;
    font-family: Gilroy-Bold;
}

.sub-heading {
    font-size: var(--font-md);
    font-weight: 600;
    font-family: Gilroy-SemiBold;
}

.para {
    font-size: var(--font-xs);
    font-weight: 400;
    line-height: 22.88px;
    font-family: Gilroy-Light;
}

.cursor-pointer {
    cursor: pointer;
}

.common-btn {
    font-family: Gilroy-SemiBold;
    font-size: var(--font-xs);
    font-weight: 600;
    color: var(--white);
    background-color: transparent;
    padding: 8px 40.5px 10px 40.5px;
    border: 2px solid var(--light-blue);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.common-btn:focus,
.common-btn:hover {
    color: var(--blue) !important;
    -webkit-box-shadow: inset 0 0 0 2em var(--white);
    box-shadow: inset 0 0 0 2em var(--white);
    box-shadow: inset 0 0 0 2em var(--white);
    border: 2px solid var(--blue);
}

.blue-btn {
    font-family: Gilroy-SemiBold;
    font-size: var(--font-xs);
    font-weight: 600;
    color: var(--blue);
    background-color: transparent;
    padding: 8px 40.5px 10px 40.5px;
    border: 2px solid var(--blue);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.blue-btn:focus,
.blue-btn:hover {
    color: var(--white) !important;
    -webkit-box-shadow: inset 0 0 0 2em var(--blue);
    box-shadow: inset 0 0 0 2em var(--blue);
    box-shadow: inset 0 0 0 2em var(--blue);
    border: 2px solid var(--blue);
}

/* ========================= NAVBAR ===================== */
.focus-0 .form-select {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.nav-link {
    font-family: Gilroy-Light;
    font-size: var(--font-xs) !important;
    font-weight: 400 !important;
    color: var(--white) !important;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: relative;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 4px;
    left: 0;
    background-color: var(--white);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.nav-link:hover {
    color: var(--white) !important;
}

.active {
    font-family: Gilroy-SemiBold;
    color: var(--white) !important;
    font-weight: 600 !important;
}

/* .middle {
    position: relative;
}

.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 4px;
    left: 0;
    background-color: var(--orange);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
} */

.navbar-toggler {
    border: 2px solid;
}

.navbar-light .navbar-toggler {
    color: var(--white) !important;
    border-color: var(--white) !important;
}

.navbar-toggler:focus {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../img/svg/toogle-navbar.svg") !important;
}

.text-transparent {
    color: transparent !important;
}

.z-5 {
    z-index: 5;
}

/* ========================= HERO SECTION ===================== */
.hero-section {
    min-height: 100vh;
    background: -o-linear-gradient(196.13deg, #103393 25.13%, var(--blue) 89.37%);
    background: linear-gradient(253.87deg, #103393 25.13%, var(--blue) 89.37%);
}

.hero-section:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 10px;
    background-color: var(--white);
    bottom: -2px;
}

.hero-content {
    min-height: 65vh;
}

.hero_img01 {
    position: absolute;
    right: 0;
    top: 200px;
    max-width: 850px;
    padding-right: 48px;
}

.arrow01 {
    -webkit-transform: translate(-85px, -30px);
    -ms-transform: translate(-85px, -30px);
    transform: translate(-85px, -30px);
}

.dots-img {
    margin-top: 90px;
    margin-left: -80px;
    z-index: 6;
    position: absolute;
}

/* ========================= GROW SECTION ===================== */
.arrow02 {
    -webkit-transform: translate(15px, 0px);
    -ms-transform: translate(15px, 0px);
    transform: translate(15px, 0px);
}

.side-img01 {
    top: 90px;
    right: 0;
}

/* ========================= FiINZEO SECTION ===================== */
.finzeo-card {
    -webkit-box-shadow: 0px 4px 24px 0px #00000012;
    box-shadow: 0px 4px 24px 0px #00000012;
    border-radius: 10px;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.finzeo-card:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    background: -o-linear-gradient(274.57deg, #012CA6 3.7%, rgba(29, 78, 216, 0.91) 47.37%, #0330AF 97.56%);
    background: linear-gradient(175.43deg, #012CA6 3.7%, rgba(29, 78, 216, 0.91) 47.37%, #0330AF 97.56%);
}

.finzeo-card h5,
.finzeo-card p {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.finzeo-card:hover h5,
.finzeo-card:hover p {
    color: var(--white) !important;
}

.fin-card-img {
    min-height: 148px;
}

.fin-card-img img {
    max-width: 130px;
}

.finzeo-card p {
    line-height: 18.56px;
}

/* ========================== SLIDER CSS ========================== */

.finzeo-slider .slick-dots li {
    width: 15px;
    height: 15px;
}

.finzeo-slider .slick-dots li.slick-active button:before {
    color: var(--blue);
    opacity: .9;
}

.finzeo-slider .slick-dots li button:before {
    font-size: 14px;
    color: var(--blue);
}

.features-slider .slick-dots li.slick-active button:before {
    color: var(--white);
    opacity: .9;
}

.features-slider .slick-dots li button:before {
    font-size: 14px;
    color: var(--white);
}

/* ========================== SLIDER CSS ========================== */
.side-img02 {
    top: 650px;
    left: 0;
}

/* ========================= FiINZEO SECTION ===================== */
/* ========================= MERCHANT ACCOUNT SECTION ============ */
.merchant-bg {
    background-image: url("../img/png/merchant-account-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 352px;
}

.arrow03 {
    position: absolute;
    left: 40px;
    top: -20px;
    min-width: 110px;
    -webkit-transform: rotate(14deg);
    -ms-transform: rotate(14deg);
    transform: rotate(14deg);
}

.merchant-dots-img {
    position: absolute;
    right: 0;
    margin-top: -100px;
}

.merchant-dots-img-2 {
    position: absolute;
    left: 0;
    bottom: -80px;
}

.merchant-account-side-img {
    position: absolute;
    right: 0px;
    top: 0px;
}

/* ========================= OUR SERVICES SECTION ============ */
.service-card {
    border: 4px solid var(--blue);
    border-radius: 12px;
    height: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.service-card:hover {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
}

.service-card-img {
    min-height: 116px;
}

/* ========================= FEATURES SECTION CSS ============ */
.features-card {
    border: 2px solid var(--white);
    border-radius: 20px;
    height: 100%;
    max-width: 280px;
    margin: auto;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.features-card:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

.features-card-img {
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-card-img img {
    max-width: 96px;
}

.dots-services-img1 {
    max-width: 120px;
    top: 0;
    left: 0;
}

.dots-services-img2 {
    max-width: 120px;
    bottom: 0;
    right: 0;
}

/* ========================= GET STARTED SECTION CSS ============ */
.started-card {
    max-width: 544px;
    -webkit-box-shadow: 0px -6px 6px 0px #1344CB26;
    box-shadow: 0px -6px 6px 0px #1344CB26;
    -webkit-box-shadow: 0px 4px 6px 0px #0065EF26;
    box-shadow: 0px 4px 6px 0px #0065EF26;
    border-radius: 16px;
    background-color: var(--white);
}

.started-content {
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
}

.custom-letter-spacing {
    letter-spacing: .26em;
}

/* ========================= FOOTER SECTION CSS ============ */
.footer-section {
    background-image: url("../img/png/footer-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 500px;
    padding-top: 180px;
}

.social-icon svg {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.social-icon:hover svg {
    -webkit-transform: scale(1.1234);
    -ms-transform: scale(1.1234);
    transform: scale(1.1234);
}

.footer-links li a {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.footer-links li a:hover {
    color: var(--gray) !important;
}

.footer-dots {
    left: -10px;
    top: 40px;
}

/* ============================ BACK TO TOP ============================ */
#scroll {
    position: fixed;
    right: 2%;
    bottom: 3%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: none;
    border-radius: 50%;
    background-color: var(--black);
    border: 1.6px solid var(--gray);
    -webkit-animation: up-down 2.5s ease-in-out infinite;
    animation: up-down 2.5s ease-in-out infinite;
    z-index: 10;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

@-webkit-keyframes up-down {
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/* ============================ PRELOADER ============================ */
#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: var(--white);
}

#scroll:hover {
    -webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.547);
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.547);
}

#scroll:hover::after {
    height: 100%;
}

#loading {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: var(--blue);
    z-index: 100;
    overflow-x: hidden !important;
    z-index: 22;
}

.loading-img {
    min-height: 100vh;
}

#loading img {
    max-width: 180px;
    -webkit-animation: loader-animation 2s ease infinite;
    animation: loader-animation 2s ease infinite;
}

.transition-03sEase {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@-webkit-keyframes loader-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes loader-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.3);
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.servimg-01 {
    top: 250px;
}

.started-side-img01 {
    top: 220px;
}

.started-side-img02 {
    right: 0;
    bottom: 80px;
}

@media (min-width:1400px) {
    .container_modified {
        max-width: 1210px !important;
        padding-left: 35px;
    }

    .features-card {
        max-height: 274px;
    }
}

@media (max-width:1599.98px) {
    .hero-section {
        padding-bottom: 236px;
    }

    .hero_img01 {
        top: 70px;
        padding-right: 37px;
        max-width: 721px;
    }

    .hero-content {
        padding-top: 100px !important;
    }

    .dots-img {
        margin-top: -22px;
    }
}

@media (max-width:1499.98px) {
    .hero-section {
        padding-bottom: 190px;
    }

}

@media (max-width:1399.98px) {
    .dots-img {
        margin-top: -54px;
    }

    .hero-section {
        padding-bottom: 160px;
    }

    .arrow01 {
        -webkit-transform: translate(-76px, -30px);
        -ms-transform: translate(-76px, -30px);
        transform: translate(-76px, -30px);
        max-width: 60px;
    }

    .hero-content {
        padding-top: 20px !important;
    }

    .dots-img {
        margin-top: -70px;
    }

    .arrow03 {
        left: 40px;
        min-width: 90px;
    }

    .merchant-dots-img {
        margin-top: -80px;
    }

    .servimg-01 {
        max-width: 70px;
    }
}

@media (max-width:1199.98px) {
    .hero-section {
        padding-bottom: 96px;
        min-height: 50vh;
    }

    .hero_img01 {
        display: none;
    }

    .hero-content {
        min-height: unset;
        padding-top: unset !important;
    }

    .dots-img {
        display: none;
    }

    .side-img01 {
        max-width: 80px;
        top: 0px;
    }

    .arrow03 {
        left: -20px;
        top: -20px;
    }

    .merchant-dots-img {
        display: none;
    }

    .merchant-dots-img-2 {
        display: none;
    }

    .merchant-account-side-img {
        max-width: 100px;
        top: 50px;
    }

    .dots-services-img1 {
        max-width: 100px;
    }

    .dots-services-img2 {
        max-width: 100px;
    }

    .footer-section {
        background-image: none;
        background-color: var(--blue);
        padding-top: 24px;
        min-height: 100%;
    }

    .footer-dots {
        display: none;
    }

    .servimg-01 {
        display: none;
    }

    .started-side-img01 {
        max-width: 80px;
        top: 120px;
    }

    .started-side-img02 {
        display: none;
    }
}

@media (max-width:991.98px) {
    .hero-section {
        padding-bottom: 96px;
    }

    .heading {
        line-height: initial;
    }

    .arrow02 {
        max-width: 90px;
    }

    .finzeo-card:hover {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    .side-img02 {
        top: 480px;
        max-width: 80px;
    }

    .finzeo-card {
        min-height: 394px;
        max-height: 394px;
    }

    .merchant-bg {
        background-color: var(--blue);
        min-height: 100%;
    }

    .merchant-account-side-img {
        max-width: 80px;
        top: 10px;
    }

    .service-card {
        min-height: 490px;
        max-height: 490px;
    }

    .started-content {
        -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
        transform: translateY(-80px);
    }

    .started-side-img01 {
        display: none;
    }

    .features-card {
        min-height: 280px;
        max-height: 280px;
    }
}

@media (max-width:767.98px) {
    .fin-card-img {
        min-height: 110px;
    }

    .fin-card-img img {
        max-width: 100px;
    }

    .finzeo-card {
        min-height: 314px;
        max-height: 314px;
    }

    .started-content {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    .started-card {
        max-width: unset;
    }

    .side-img01 {
        max-width: 50px;
    }

    #loading img {
        max-width: 120px;
    }

    .features-card {
        min-height: 220px;
        max-height: 220px;
    }
}

@media (max-width:575.98px) {
    .common-btn {
        padding: 10px 30.5px 10px 30.5px;
    }

    .para {
        line-height: inherit;
    }

    .hero-section {
        padding-bottom: 48px;
    }

    .arrow02 {
        max-width: 80px;
    }

    .side-img02 {
        display: none;
    }

    .started-content {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    .started-card {
        -webkit-box-shadow: unset;
        box-shadow: unset;
    }

    .footer-section {
        padding-top: 0px;
    }

    .service-card {
        min-height: 450px;
        max-height: 450px;
    }

    .arrow02 {
        display: none;
    }

    #scroll {
        width: 42px;
        height: 42px;
    }

    .features-card-img {
        min-height: 100px;
    }

    .features-card-img img {
        max-width: 66px;
    }
}

/**
 PRELOADER ANIMATIONS CSS
*/
@-webkit-keyframes follow-the-leader {
    0% {
        -webkit-transform: rotate(0deg) translateY(-200%);
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        -webkit-transform: rotate(360deg) translateY(-200%);
        transform: rotate(360deg) translateY(-200%);
    }
}

@keyframes follow-the-leader {
    0% {
        -webkit-transform: rotate(0deg) translateY(-200%);
        transform: rotate(0deg) translateY(-200%);
    }

    60%,
    100% {
        -webkit-transform: rotate(360deg) translateY(-200%);
        transform: rotate(360deg) translateY(-200%);
    }
}

.follow-the-leader {
    width: 14px;
    height: 14px;
    position: relative;
}

.follow-the-leader div {
    -webkit-animation: follow-the-leader 1.875s infinite backwards;
    animation: follow-the-leader 1.875s infinite backwards;
    background-color: #ffffff;
    border-radius: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.follow-the-leader div:nth-child(1) {
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    background-color: rgba(255, 255, 255, 0.9);
}

.follow-the-leader div:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    background-color: rgba(255, 255, 255, 0.8);
}

.follow-the-leader div:nth-child(3) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
    background-color: rgba(255, 255, 255, 0.7);
}

.follow-the-leader div:nth-child(4) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    background-color: rgba(255, 255, 255, 0.6);
}

.follow-the-leader div:nth-child(5) {
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width:575.98px) {
    .follow-the-leader {
        width: 8px;
        height: 8px;
    }
}